@import './default.scss';
@import './colors.scss';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root,
.App {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: $mainBgColor;
  color: $mainColor;
}
