$mainBgColor: #282c34;
$mainColor: #f2f2f2;
$mainBgLinkHover: #21252c;
$boxShadowCard:
  rgba(255, 255, 255, 0.2) 0px 2px 1px -1px,
  rgba(255, 255, 255, 0.14) 0px 1px 1px 2px,
  rgba(255, 255, 255, 0.12) 0px 1px 3px 1px;
