@import '../../../app/styles/colors';

.widget-notifications {
  position: fixed;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 1rem;
}

.widget-notification {
  border-radius: 4px;
  border: 1px solid $mainColor;
  box-shadow: $boxShadowCard;
  padding: 0.425rem 1rem;
}
