@import '../../../../app/styles/colors.scss';

.developer-card {
  box-shadow: $boxShadowCard;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 0.625rem;
  &__icon {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  &__title {
    font-size: 1.425rem;
    text-align: center;
  }
  &__speciality {
    margin-top: 2rem;
  }
  &__actions {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__close-btn {
    display: flex;
    justify-content: center;
    background-color: inherit;
    border-radius: 50%;
    padding: 0.425rem;
    transition: 0.2s ease-in-out;
    &:hover {
      opacity: 0.8;
      background-color: $mainBgLinkHover;
    }
  }
}
