@import '../../../app/styles/colors';

.developers-view {
  &__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__filters {
    display: flex;
    width: 40%;
    align-items: center;
    gap: 1rem;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  &__create-btn {
    background-color: inherit;
    border-radius: 4px;
    border: 1px solid $mainColor;
    padding: 0.425rem 1rem;
    color: $mainColor;
  }
}
