@import '../../../app/styles/colors.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  &-title {
    font-size: 2rem;
    padding: 1rem 0;
  }
  &-nav,
  &-nav__list {
    width: 100%;
  }
  &-nav__list {
    display: flex;
    gap: 1rem;
    &-item {
      font-size: 1.25rem;
      color: $mainColor;
      & a {
        padding: 0.875rem;
        transition: 0.2s ease-in-out;
        &:hover {
          background-color: $mainBgLinkHover;
        }
      }
    }
  }
}
