.videos-view {
  padding: 1rem;
  &__grid {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
  &__loader {
    display: flex;
    justify-content: center;
  }
}
