.video-card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 2px, rgba(0, 0, 0, 0.12) 0px 1px 3px 1px;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__content {
    padding: 8px 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    &-title {
      flex: 1;
    }
    &-author, &-stat {
      display: flex;
      align-items: center;
      margin-bottom: .54rem;
    }
    &-stat-text {
      display: block;
      margin: 0 1rem 0 .54rem;
    }
  }
}