@import '../../../../app/styles/colors';

.app-select {
  width: 100%;
  &__field {
    font-size: 1rem;
    width: 100%;
    background-color: $mainBgColor;
    padding: 0.625rem 0.425rem;
    border: 1px solid $mainColor;
    color: $mainColor;
    border-radius: 4px;
  }
}
