.validations {
  &-title {
    display: flex;
    width: 100%;
    padding-bottom: 4rem;
    justify-content: center;
    font-size: 1.625rem;
  }
  &__common-errors {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    min-height: 42px;
  }
  &-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__item {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &__actions {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }
}
