@import '../../../../app/styles/colors';

.overlay-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
  background-color: $mainBgColor;
  border-radius: 8px;
  padding: 3rem 2rem;
  max-width: 400px;
  width: 100%;
}

.developer-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  &__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  &__title {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
  &__close-btn,
  &__submit-btn {
    background-color: inherit;
    padding: 0.425rem 1rem;
    color: $mainColor;
    border-radius: 4px;
    border: 1px solid $mainColor;
  }
}
