@import '../../../../app/styles/colors';

.app-input {
  width: 100%;
  &__field {
    padding: 0.625rem 0.425rem;
    width: 100%;
    border: 1px solid $mainColor;
    color: $mainColor;
    background-color: inherit;
    border-radius: 4px;
  }
  &__errors-wrapper {
    margin-top: 0.625rem;
  }
}
